.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.main-content {
  min-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 1.5em
}