.action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.payments-view {
  display: flex;
  flex-direction: column;
  gap: 2em
}

.table-container {
  margin-top: 20px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

th:first-child {
  width: 40%;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}